div{
    border: 5px dashed blue;

    margin:10px;
    text-align: center;
}

body{
    width: 60%;
    margin: 0 auto;

}

.welcome{
    font-size: 50px;
    text-align: center;
    color: darkmagenta;
}

.enjoy{
    font-size: 35px;
    text-align: center;
    color: lightseagreen;
}

h1{
    
}