div{
    /*border: 5px dashed blue;*/
    margin:10px;
    text-align: center;
}

section{
    background: url("../images/bg.jpg")no-repeat top/cover;
    width: 70%;
    margin: 0 auto;
    color: black;

}

.welcome{
    font-size: 50px;
    text-align: center;
    color: darkmagenta;
}

.enjoy{
    font-size: 35px;
    text-align: center;
    color: lightseagreen;
}

.base{
    font-style: italic;
}

img{
    opacity: 0.5;
}

div.transbox {
    margin: 0 auto;
    background-color: #ffffff;
    border: 1px solid black;
    opacity: 0.6;
    width: 65%;

}

.headings{
    font-weight: bold;
    border: 2px solid dimgrey;

}