{% extends "base.html" %}


{% block content %}

    <section>
    <div class="transbox">
        <div class="headings">
            <h1>Daily Flavor</h1>
                {% for item in daily %}
                    <hr/>
                    <h4>{{ item.flavor }}</h4>
                    <h4 class="base">base flavor - {{ item.base }}</h4>
                    <hr>
                {% endfor %}
        </div>

        <div class="headings">
            <h1>Our Weekly Flavors</h1>
                {% for item in weekly %}
                    <hr/>
                    <h4>{{ item.flavor }}</h4>
                    <h4 class="base">base flavor - {{ item.base }}</h4>
                    <hr/>

                    {% endfor %}
        </div>

        <div class="headings">
            <h1>Seasonal Flavors</h1>
                {% for item in seasonal %}
                    <hr>
                    <h4>{{ item.flavor }}</h4>
                    <h4 class="base">base flavor - {{ item.base }}</h4>
                    </hr>
                    {% endfor %}
        </div>


        <div class="headings">
            <h1>Featured</h1>
                {% for item in featured %}
                    <hr/>
                    <h4>{{ item.flavor }}</h4>
                    <h4 class="base">base flavor - {{ item.base }}</h4>
                    <hr/>
                    {% endfor %}
        </div>
    </div>
    </section>
{% endblock %}

